.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "PT Sans", "Arial", sans-serif;
  background-color: @seagull;
  color: @basic-white;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-decoration: none;
  border: none;
  text-align: center;
  text-transform: uppercase;
  height: 58px;
  width: 100%;

  &:hover {
    background-color: @fountain;
  }

  &:active {
    background-color: @steel;
    color: fade(@basic-white, 50%);
  }

  &:disabled {
    background-color: @mercury;
  }
}
