.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "PT Sans", "Arial", sans-serif;
  background-color: @seagull;
  color: @basic-white;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-decoration: none;
  border: none;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  height: 58px;
  width: 100%;
  .button-states;

  &:disabled {
    background-color: @mercury;
  }
}
