.features {
  padding-top: 26px;
  padding-bottom: 35px;

  @media (min-width: @tablet) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0;
  }
}

.features__item {
  max-width: 280px;
  margin: 0 auto;
  box-sizing: border-box;
  padding-left: 50px;

  &--house {
    background-image: url("../img/icon-house.svg");
    background-repeat: no-repeat;
    background-size: 39px 36px;
    background-position: 1px 3px;
    padding-top: 13px;
  }

  &--gift {
    background-image: url("../img/icon-gift.svg");
    background-repeat: no-repeat;
    background-size: 32px 38px;
    background-position: 5px 14px;
    padding-top: 25px;
  }

  &--burger {
    background-image: url("../img/icon-burger.svg");
    background-repeat: no-repeat;
    background-size: 40px 35px;
    background-position: 0 22px;
    padding-top: 27px;
  }

  @media (min-width: @tablet) {
    max-width: initial;
    margin: initial;
    text-align: center;
    padding-top: 158px;
    padding-bottom: 60px;

    &--house {
      background-size: 75px 72px;
      background-position: 50% 60px;
      padding-left: 31px;
      padding-right: 31px;
    }

    &--gift {
      order: 1;
      background-size: 64px 75px;
      background-position: 50% 57px;
      padding-right: 30px;
      padding-left: 30px;
    }

    &--burger {
      background-size: 76px 68px;
      background-position: 50% 62px;
      padding-left: 50px;
      padding-right: 50px;
    }
  }

  @media (min-width: @desktop) {
    padding-top: 158px;
    padding-bottom: 80px;

    &--house {
      padding-left: 47px;
      padding-right: 47px;
    }

    &--gift {
      order: 1;
      padding-right: 70px;
      padding-left: 70px;
    }

    &--burger {
      padding-left: 50px;
      padding-right: 50px;
    }
  }
}

.features__title {
  margin: 0;
  margin-bottom: 15px;
  .title;

  @media (min-width: @tablet) {
    margin-bottom: 23px;
  }
}

.features__description {
  .description;
  margin: 0;

  br {
    display: none;
  }

  @media (min-width: @desktop) {
    br {
      display: initial;
    }
  }
}
