.features {
  max-width: 280px;
  margin: 0 auto;
  padding: 25px 20px;
  margin-bottom: 15px;

  @media (min-width: @tablet) {
    max-width: 768px;
    height: 329px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media (min-width: @desktop) {
    max-width: 1200px;
  }
}

.features__item {
  margin-bottom: 35px;
}

.features__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 25px;
}

.features__description {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
}
