.features {
  padding: 25px 0;

  @media (min-width: @tablet) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.features__item {
  max-width: 280px;
  margin: 0 auto;
  margin-bottom: 35px;
}

.features__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 25px;
}

.features__description {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
}
