.form {
  @media (min-width: @tablet) {
    display: flex;
    flex-wrap: wrap;
    max-width: 648px;
    margin: 0 auto;
  }

  @media (min-width: @desktop) {
    max-width: 960px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.form__fieldset {
  padding: 0;
  margin: 0;
  border: none;
  border-top: 1px solid @mercury;

  @media (min-width: @tablet) {
    border: none;

    &:nth-child(2) {
      width: 100%;
    }

    &:nth-child(3) {
      order: -1;
      margin-bottom: 67px;
    }

    &:nth-child(4) {
      width: 100%;
    }

    &:nth-child(5) {
      width: 100%;
    }
  }

  &--text {
    border-bottom: none;
  }
}

.form__wrapper {
  max-width: 280px;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 19px;

  &--name {
    padding: 24px 0;
  }

  &--contact {
    padding-top: 20px;
    padding-bottom: 26px;
  }

  @media (min-width: @tablet) {
    max-width: 100%;
    padding: 0;
    margin: 0;

    &--name {
      width: 324px;
      padding-left: 60px;
      box-sizing: border-box;
    }

    &--radio {
      box-sizing: border-box;
      width: 324px;
      border-right: 1px solid @altgrey;
    }

    &--contact {
      margin-bottom: 49px;
    }

    &--checkbox {
      margin-bottom: 40px;
    }

    &--text {
      margin-bottom: 54px;
    }
  }

  @media (min-width: @desktop) {
    &--name {
      width: 480px;
      padding-left: 80px;
      box-sizing: border-box;
    }

    &--radio {
      box-sizing: border-box;
      width: 480px;
    }
  }
}

.form__contact {
  @media (min-width: @desktop) {
    display: flex;
    justify-content: space-between;
  }
}

.form__checkbox {
  @media (min-width: @tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 96px;
    margin-right: 91px;
    max-width: 480px;
  }

  @media (min-width: @desktop) {
    flex-wrap: nowrap;
    margin: 0;
    max-width: 960px;
  }
}

.form__legend {
  text-align: center;
  position: relative;
  margin: 0;
  margin-bottom: 22px;
  .title;

  &--name {
    margin-bottom: 20px;
  }

  &--checkbox {
    margin-bottom: 17px;

    @media (min-width: @tablet) {
      margin-bottom: 44px;
    }
  }

  &--contact {
    margin-bottom: 17px;

    @media (min-width: @tablet) {
      margin-bottom: 20px;
    }

    @media (min-width: @desktop) {
      margin-bottom: 73px;
    }
  }

  &--text {
    margin-bottom: 18px;
  }

  @media (min-width: @tablet) {
    &--name,
    &--impression {
      margin-bottom: 55px;
      text-align: left;
    }

    &--text {
      margin-bottom: 55px;
    }
  }

  @media (min-width: @desktop) {
    &--impression {
      text-align: center;
      margin-right: 45px;
    }
  }
}

.form__legend--contact,
.form__legend--checkbox,
.form__legend--text {
  @media (min-width: @tablet) {
    &::before,
    &::after {
      content: "";
      position: absolute;
      margin: auto;
      top: 0;
      bottom: 0;
      width: 123px;
      height: 1px;
      background-color: @altgrey;
    }

    &::before {
      left: 0;
    }

    &::after {
      right: 0;
    }
  }

  @media (min-width: @desktop) {
    &::before {
      width: 280px;
    }

    &::after {
      width: 280px;
    }
  }
}

.form__label {
  color: @special-black;
  font-size: 14px;
  line-height: 26px;
  margin-right: 14px;
  text-transform: uppercase;

  &--tel,
  &--mail {
    padding-left: 22px;
    margin-bottom: 9px;

    @media (min-width: @desktop) {
      padding: 0;
      flex-shrink: 0;
      margin-right: 18px;
    }
  }

  &--tel {
    @media (min-width: @desktop) {
      display: none;
    }
  }

  &--tel-desktop {
    display: none;

    @media (min-width: @desktop) {
      display: block;
    }
  }
}

.form__input-box {
  display: flex;
  align-items: center;
  margin-bottom: 21px;
  position: relative;

  &:last-child {
    margin-bottom: 0;
  }

  &--tel,
  &--mail {
    flex-wrap: wrap;
    margin-bottom: 10px;

    @media (min-width: @tablet) {
      margin-bottom: 24px;
    }

    @media (min-width: @desktop) {
      margin-bottom: 0;
      flex-wrap: nowrap;
    }
  }
}

.form__input-box--tel::after {
  content: "";
  width: 58px;
  height: 58px;
  position: absolute;
  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: @cararra;
  right: 0;
  bottom: 0;
}

.form__input-box--mail::after {
  content: "";
  width: 58px;
  height: 58px;
  position: absolute;
  background-image: url("../img/icon-mail.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: @cararra;
  right: 0;
  bottom: 0;
}

.form__label-radio,
.form__label-checkbox {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 13px;
  position: relative;
  user-select: none;

  &:last-child {
    margin-bottom: 0;
  }

  &:hover::before {
    background-color: @mercury;
  }

  &:active::before {
    background-color: @medium-grey;
  }

  &::before {
    content: "";
    flex-shrink: 0;
    display: inline-block;
    width: 56px;
    height: 56px;
    background-color: @concrete;
    left: 0;
    top: 0;
    border-radius: 50%;
    margin-right: 22px;
  }

  &::after {
    left: 17px;
    top: 0;
    bottom: 0;
    margin: auto;
    opacity: 0;
  }

  @media (min-width: @tablet) {
    margin-bottom: 23px;
  }
}

input:checked + label::after {
  opacity: 1;
}

input:focus + label::before {
  outline: 2px solid @basic-black;
}

.form__label-radio {
  &:active::after {
    opacity: 0.3;
  }

  &::after {
    content: "";
    width: 22px;
    height: 22px;
    position: absolute;
    background-color: @special-black;
    border-radius: 50%;
  }

  @media (min-width: @tablet) {
    &::before {
      margin-right: 19px;
    }
  }

  @media (min-width: @desktop) {
    &::before {
      margin-right: 24px;
    }
  }
}

.form__label-checkbox {
  margin-bottom: 25px;

  @media (min-width: @tablet) {
    max-width: 200px;
    width: 100%;
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 25px;
    }
  }

  &::before {
    border-radius: 5%;
  }

  &:active::after {
    opacity: 0.3;
  }

  &::after {
    content: "";
    width: 23px;
    height: 16px;
    background-image: url("../img/icon-check.svg");
    position: absolute;
  }

  @media (min-width: @desktop) {
    &:nth-child(2) {
      margin-right: 19px;
    }

    &:nth-child(4) {
      margin-right: 14px;
    }
  }
}

.form__label-select {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
}

.form__textarea,
.form__input {
  border: none;
  box-sizing: border-box;
  cursor: pointer;
  color: @basic-black;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  background-color: @concrete;
  width: 100%;
  height: 58px;
  padding-left: 21px;

  &::placeholder {
    font-family: "PT Sans", "Arial", sans-serif;
    color: @basic-black;
    opacity: 1;
  }
}

.form__input {
  &:hover {
    background-color: @mercury;
  }

  &:focus {
    background-color: @basic-white;
    outline: 4px solid @concrete;
  }
}

.form__input--mail,
.form__input--tel {
  @media (min-width: @desktop) {
    width: 316px;
  }
}

.form__textarea {
  resize: none;
  min-height: 160px;
  padding: 10px 20px;

  &:hover {
    background-color: @mercury;
  }

  &:focus {
    background-color: @basic-white;
    outline: 4px solid @concrete;
  }

  @media (min-width: @tablet) {
    padding: 19px 20px;
  }
}

.form__btn-wrapper {
  max-width: 280px;
  margin: 0 auto;
  margin-top: 20px;
  text-align: center;

  @media (min-width: @tablet) {
    max-width: 648px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  @media (min-width: @desktop) {
    max-width: 960px;
  }
}

.form__link {
  @media (min-width: @tablet) {
    width: 324px;
  }

  @media (min-width: @desktop) {
    width: 480px;
  }
}

.form__notification {
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  display: none;

  @media (min-width: @tablet) {
    display: block;
  }
}

.form__input-invalid {
  border: 2px solid @basic-black;
  padding-left: 19px;

  @media (min-width: 768px) {
    padding-left: 20px;
  }
}
