.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 27px;
}

.hero__title {
  padding-bottom: 35px;
}

.hero__subtitle {
  font-weight: 400;
}
