.hero {
  text-align: center;
  position: relative;
  max-width: 280px;
  margin: 0 auto;
  margin-bottom: 30px;

  @media (min-width: @tablet) {
    max-width: 480px;
    margin-bottom: 60px;
  }

  @media (min-width: @desktop) {
    max-width: 480px;
    margin-bottom: 50px;
  }

  &--inside {
    margin-bottom: 20px;

    @media (min-width: @tablet) {
      max-width: 648px;
      padding: 0;
      margin-bottom: 80px;
      border-bottom: none;
    }

    @media (min-width: @desktop) {
      margin-bottom: 60px;
    }
  }
}

.hero__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 35px;

  @media (min-width: @tablet) {
    font-size: 30px;
    line-height: 26px;
    font-weight: 700;
  }
}

.hero__subtitle {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;

  @media (min-width: @tablet) {
    font-size: 14px;
    line-height: 24px;
  }
}
