.hero {
  text-align: center;
  position: relative;
  max-width: 280px;
  margin: 0 auto;
  margin-bottom: 17px;

  @media (min-width: @tablet) {
    max-width: 485px;
    margin-bottom: 54px;
  }

  @media (min-width: @desktop) {
    margin-bottom: 44px;
  }

  &--inside {
    margin-bottom: 20px;

    @media (min-width: @tablet) {
      max-width: 648px;
      padding: 0;
      margin-bottom: 80px;
      border-bottom: none;
    }

    @media (min-width: @desktop) {
      margin-bottom: 60px;
    }
  }
}

.hero__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 32px;
  padding-left: 5px;
  padding-right: 10px;

  @media (min-width: @tablet) {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
  }
}

.hero__subtitle {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;

  @media (min-width: @tablet) {
    font-size: 14px;
    line-height: 24px;
  }
}
