.map {
  position: relative;
  height: 350px;

  picture {
    position: absolute;
    display: block;
    height: 350px;
    width: 100%;
    object-fit: cover;
    z-index: -1;
  }

  iframe {
    border: none;
    width: 100%;
  }
}
