.nav__toggle {
  position: absolute;
  right: 20px;
  bottom: 20px;
  cursor: pointer;

  /* @media (min-width: 768px) {
    display: none;
  } */
}

.nav__close {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;

  /* @media (min-width: 768px) {
    display: none;
  } */
}
