.nav {
  position: relative;

  @media (min-width: @tablet) {
    height: 56px;
    margin: 0 auto;
  }
}

.nav__toggle {
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;

  @media (min-width: @tablet) {
    display: none;
  }
}
