.reasons__info {
  color: @basic-white;
  background-color: @seagull;
  padding: 55px 12px 40px 12px;
  text-align: center;
}

.reasons__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;
}

.reasons__number {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  margin-bottom: 25px;
}

.reasons__description {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  margin: 0;
}
