.reasons__item {
  background-color: @seagull;

  @media (min-width: @tablet) {
    display: grid;
    grid-template-columns: 1fr 2fr;

    &--lower {
      grid-template-columns: 2fr 1fr;
    }
  }
}

.reasons__info {
  color: @basic-white;
  padding: 55px 12px;
  padding-bottom: 45px;
  text-align: center;
}

.reasons__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}

.reasons__number {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  margin-top: 21px;
  margin-bottom: 27px;
}

.reasons__description {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  margin: 0;
  text-transform: uppercase;
}

.reasons__img-wrapper {
  @media (min-width: @tablet) {
    &--lower {
      order: -1;
    }
  }
}

.reasons__img {
  display: block;
}
