.search {
  margin-bottom: 49px;
}

.search__wrapper {
  max-width: 280px;
  margin: auto;
}

.search__title {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 33px;
}

.search__subtitle {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 27px;
}
