.social {
  display: flex;
  margin-bottom: 28px;

  @media (min-width: @tablet) {
    margin: 0;
  }
}

.social__link {
  display: block;
  position: relative;
  background-color: @seagull;
  width: 46px;
  height: 48px;
  background-repeat: no-repeat;
  margin-right: 6px;
  .button-states;

  &:active .social__icon {
    opacity: 0.3;
  }
}

.social__icon {
  position: absolute;
  fill: @basic-white;

  &--twitter {
    top: 16px;
    left: 15px;
  }

  &--facebook {
    top: 14px;
    left: 18px;
  }

  &--youtube {
    top: 18px;
    left: 13px;
  }
}
