.social {
  display: flex;
  margin-bottom: 40px;
}

.social__link {
  display: block;
  background-color: @seagull;
  width: 46px;
  height: 48px;
  background-repeat: no-repeat;
  margin-right: 6px;
}
