.top-image {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% bottom;
  min-height: 158px;
  background-color: @seagull;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/bg-back-mobile@2x.jpg");
  }

  @media (min-width: @tablet) {
    background-image: url("../img/bg-back-tablet@1x.jpg");
    min-height: 290px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/bg-back-tablet@2x.jpg");
    }
  }

  @media (min-width: @desktop) {
    background-image: url("../img/bg-back-desktop@1x.jpg");
    min-height: 301px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/bg-back-desktop@2x.jpg");
    }
  }

  &::after {
    content: " ";
    position: absolute;
    background-position: center bottom;
    background-size: contain;
    background-repeat: no-repeat;
    height: 57px;
    width: 100%;
    background-image: url("../img/bg-intro-triangle-mobile.svg");
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    @media (min-width: @tablet) {
      background-image: url("../img/bg-intro-triangle-tablet.svg");
    }

    @media (min-width: @desktop) {
      background-image: url("../img/bg-intro-triangle-desktop.svg");
    }
  }

  &--inside {
    @media (max-width: @mobile) {
      background-size: 768px 389px;
      background-position: bottom;
    }
  }

  &--index {
    background-position: center;
    min-height: 389px;

    @media (min-width: @tablet) {
      min-height: 518px;
    }

    @media (min-width: @desktop) {
      min-height: 518px;
    }
  }
}

.top-image__title {
  @media (min-width: @tablet) {
    width: 460px;
  }
}

.top-image__logo {
  padding-top: 9px;

  @media (min-width: @tablet) {
    padding: 0;
    padding-bottom: 10px;
  }

  &--inside {
    padding: 0;
    padding-bottom: 10px;

    @media (min-width: @tablet) {
      padding-bottom: 15px;
    }
  }
}
