.video {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: @tablet) {
    max-width: 648px;
    margin: 0 auto;
    margin-bottom: 40px;
  }
}

.video__heading {
  max-width: 280px;
  text-align: center;
  padding-bottom: 35px;

  @media (min-width: @tablet) {
    max-width: 648px;
  }
}

.video__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 35px;

  @media (min-width: @tablet) {
    font-size: 30px;
    line-height: 26px;
    font-weight: 700;
  }
}

.video__subtitle {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
}
